
<style>
  a {
    text-decoration: none;
  }
  #list {
    background-color: blanchedalmond;
  }
  #list form {
    text-align: left;
  }
  input {
    width: 247px;
    text-align: left;
  }
  input[type='submit'] {
    width: 70px;
    /* margin-left: 230px; */
  }
  textarea { text-align: left;}
  .cancel {margin-left: 180px;}
  .cancel, .regist { text-align: center;}
</style>
<h1>게시물 수정페이지</h1>
<a href="/">홈으로</a> <br><br><br><br>
<div id="list">
  <form method="POST" class="mt-4 ms-3" action="/articles/regist">
    제&nbsp&nbsp&nbsp목: <input type="text" name="title"><br>
    내&nbsp&nbsp&nbsp용: <textarea class="mt-1" name="contents" id="" cols="30" rows="10"></textarea><br>
    작성자: <input type="text" name="name"><br>
    작성일: 2022.07.022 <br>
    <button class="cancel btn btn-danger"><a href="/articles/list">취소</a></button>    
    <input class="mt-1 regist btn btn-danger" type="submit" value="등록">
  </form>
</div>


