<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API user</title>
</head>
<body>
  <h1>API DATA:  user</h1>
  <%= JSON.stringify(users) %>


  <br><a class="mt-5 btn btn-danger link-primary" href="/">홈으로</a> 

<script>
  console.log('API List 페이지')
</script>
</body>

</html>