<html>
<head>
<style>
  a { color: grey;text-decoration: none;}
 .index {
  background-color: rgb(111, 132, 159);
 }
 
</style>
</head>
<body>  
  <div class="index">
    <h1>Index.html</h1>
    <button class="btn btn-danger">Hello</button>
    <button class="btn3 btn btn-primary ms-2">login</button><br><br><br><br><br>
    <a class="btn btn-warning" href="/api/list">API /list 경로</a>
    <a class="btn btn-warning" href="/api/user">API /user 경로</a><br>
    <a class="btn btn-warning mt-2" href="/api/data">API /data 경로</a><br>
    <a class="btn btn-success mt-5" href="/articles/list">게시물 페이지로 이동</a>
  </div>

<script>
  let btn = document.querySelector('button')
  btn.addEventListener('click', function() {
    console.log('Hello 버튼을 누르셨군요!')
  })
  let btn3 = document.querySelector('.btn3')
  btn3.addEventListener('click', function() {
    location.href = '/login'
  })

 </script> 
</body>
</html>